<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <title>
        <%= title %>
    </title>
</head>
<body>

    <div class="container">
        <div class="container-404">
            <p class="p-404">404 Error</p>
            <hr>
            <p class="not-found">Page not found</p>
        </div>

    </div>

    
</body>
</html>