@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background: rgb(46,210,233);
    background: linear-gradient(90deg, rgba(46,210,233,1) 0%, rgba(235,243,246,1) 81%);
}

.container {
    padding: 30px;
    width: 50%;
    height: 80vh;
    margin: 0 auto;
    color: #fff;
}

hr {
    border: 1px solid #fff;
    width: 5%;
}

.container-404 {
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.p-404 {
    font-size: 2rem;
}

.not-found {
    font-size: 1.1rem;
}

.title {
    font-weight: 400;
    color: #fff;
    border: 3px solid rgb(215, 239, 243);
    display: inline-block;
    padding: 5px;
    border-radius: 10px;
    width: 100%;
    text-align: center;
}

.btn {
    background: rgb(46,210,233);
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 1.05rem;
    padding: 8px;
    border: 3px solid rgb(215, 239, 243);
    border-radius: 15px;
    transition: all .2s;

}

.btn:hover {
    transform: scale(1.05);
    font-size: 1.10rem;
}

.ajouter {
    text-align: center;
}

.liste {
    margin-top: 25px;
    padding: 20px 10px; 
    text-align: center;
    border-radius: 15px;
    background: rgb(46,210,233);
    background: linear-gradient(90deg, rgb(90, 202, 216) 0%, rgb(114, 207, 241) 81%);
    color: #fff;
}

.taskTitle {
    display: inline-block;
    font-weight: 400;
    font-size: 1.7rem;
}

.form-container {
    margin-top: 20px;
}

.form-container .div-btn {
    margin-top: 20px;
    text-align: center;
}

input, textarea {
    padding: 8px;
    border-radius: 10px;
    border: none;
    margin-top: 15px;
    text-align: center;
    width: 100%;
}

label {
    width: 100%;
    text-transform: uppercase;

}

.back {
    padding: 10px;
}

.back a {
    text-decoration: none;
    color: #fff;
}

.task {
    border: 2px solid #fff;
    margin-bottom: 20px;
    border-radius: 15px;
}

.task a {
    text-decoration: none;
}

.p-title {
    background: #fff;
    margin: 0px;
    border-top-right-radius: 13px;
    border-top-left-radius: 13px;
    padding: 10px;
    color: rgb(46,210,233);

}

.p-description {
    color: #fff;
}

.p-title-red {
    background: #e13d3d;
    margin: 0px;
    border-bottom-right-radius: 13px;
    border-bottom-left-radius: 13px;
    padding: 10px;
    color: #fff;
    cursor: pointer;
    transition: all .3s;
}


.p-title-red:hover {
    transform: scale(.98);
}

a {
    text-decoration: none;
}